@import "tailwindcss";

/* Custom Scrollbar Hide */
.custom-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.custom-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
